body, html{
  height:100%;
}
body{
  margin: 0px;
  background:url(http://25.media.tumblr.com/tumblr_makyl0fXge1qbta3wo1_500.gif) fixed center;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-color: white;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:0px solid red;
  border-radius:20px;
  position:absolute;
}
.tapdancer{
  /*border:30px solid white;*/
}

.SquareDancer {
  border: 0px solid green;
  border-radius: 5px;
}
